/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'lato';
}
@media (max-width: 550px) {
  body {
    height: auto;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  /* height: 100vh; */
}

.container-home {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.container-one {
  width: 100%;
  margin: 0 auto;
  /* height: 100vh; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  color: white;
  max-width: 100%;
  padding: 0 1%;

  background: rgb(0, 32, 112);
  background: linear-gradient(
    90deg,
    rgba(0, 32, 112, 1) 0%,
    rgba(30, 80, 238, 1) 35%,
    rgba(8, 173, 221, 1) 100%
  );
}

@media (max-width: 550px) {
  header {
    flex-flow: column nowrap;
    height: 200px;
  }
  #logoPic {
    display: block;
    margin-top: 50px;
  }
  nav a {
    margin: 10px 2.5%;
  }
}

.brand {
  /* margin-left: 10px; */
  text-decoration: none;
  color: white;
}
.brand:hover {
  opacity: 50%;
  color: #a4b8fa;
}

header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); */
}

@media (max-width: 550px) {
  header nav a {
    margin: 5px;
  }
  header nav {
    /* display: flex; */
    flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 20px;
  }
}

nav a:hover {
  opacity: 50%;
  color: #b8c6f4;
}

#logoPic {
  height: 50px;
  margin-left: 8px;
}

a:visited {
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bb1333;
  height: 100%;
}

.main .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 550px) {
  .main .main-content {
    margin-bottom: 20rem;
  }
}

h1 {
  color: white;
  /* margin-left: 27px; */
  font-size: 5rem;
}
@media (max-width: 550px) {
  h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }
}

h2 {
  color: white;
  /* margin-left: 27px; */
  font-size: 1rem;
  margin: 10px 0;
}

@media (max-width: 550px) {
  h2 {
    width: 100%;
    font-size: 0.8rem;
    margin-left: 15px;
  }
}

.landingButton {
  border-radius: 10px;
  padding: 2.5px;
  font-size: 20px;
  cursor: pointer;
  width: 15rem;
  border: 1px solid black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.landingButton:hover {
  background-color: #ffe6e6;
  opacity: 50%;
  color: black;
}

.mainButton {
  border-radius: 10px;
  padding: 2.5px;
  font-size: 20px;
  cursor: pointer;
  width: 15rem;
  border: 1px solid black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: 118px;
  margin-left: 155px;
  padding-bottom: 7px;
}

.mainButton:hover {
  background-color: #bb1333;
  opacity: 50%;
  color: white;
}

.landing-text {
}

@media (max-width: 800px) {
  .mainButton {
    align-items: center;
    justify-content: center;
    /* font-size: 1.8rem; */
    margin: 225px 0 0 300px;
    /* font-size: 1.9rem; */
    width: 7em;
    padding: 2px;
  }
}

@media (max-width: 550px) {
  .mainButton {
    /* width: 100%; */
    font-size: 16px;
    padding: 3px;
    width: 9rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-left: 132px;
    margin-top: 140px;
  }
}

.cover-content {
  position: relative;
  background-image: url('/img/blurpc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.cover-content .coverTitle {
  position: absolute;
  color: red;
  font-size: 3.5rem;
  margin: 55px 0 0 80px;
  letter-spacing: 0.3rem;
  /* display: flex;
  flex-direction: row; */
}
@media (max-width: 800px) {
  .cover-content .coverTitle {
    align-items: center;
    justify-content: center;
    /* font-size: 1.8rem; */
    margin: 171px 0 0 250px;
    font-size: 1.9rem;
  }
}

@media (max-width: 550px) {
  .cover-content .coverTitle {
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin: 180px 0 0 70px;
  }
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  /* position: fixed; */
  height: 44px;
  background-color: #55596d;
}

.top-bar .container {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  color: #fff;
  letter-spacing: 1px;
  padding: 0 10px;
}

.top-bar .container .container-left {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 11px;
}
.top-bar .container .container-left span {
  cursor: pointer;
  margin-right: 25%;
  font-weight: bold;
}
.top-bar .container .container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 3;
  font-size: 12px;
}

.span1:hover {
  color: #bb1333;
  opacity: 50%;
  color: red;
}

.top-bar .container .container-center span {
  cursor: pointer;
  margin-right: 5%;
}
.top-bar .container .container-center span:last-child {
  margin-right: 0;
}
.top-bar .container .container-center span:hover {
  text-decoration: underline;
}
.top-bar .container .container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 11px;
  font-weight: bold;
}
.top-bar .container .container-right span {
  cursor: pointer;
}

.intro-content {
  text-align: center;
}

.login-link {
  text-decoration: none;
}

.intro-text {
  font-size: 2rem;
  margin: 7px 0 5px 0;
  color: #bb1333;
}

@media (max-width: 550px) {
  .intro-text {
    font-size: 1.4rem;
    margin-bottom: 17px;
  }
}

.introP {
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
}
@media (max-width: 550px) {
  .introP {
    display: none;
  }
}

.middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
}

.middle-content {
  display: flex;
  border: 1px solid black;
}

@media (max-width: 800px) {
  .middle-content {
  }
}

@media (max-width: 550px) {
  .middle-content {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .product-text {
    font-size: 1.3rem;
  }
}

.middle-bot-content {
  display: flex;
  border: 1px solid black;
  background-color: #bb1333;
  color: white;
}
@media (max-width: 550px) {
  .middle-bot-content {
    flex-direction: column;
  }
}

.middle .text-content {
  width: 49%;
  vertical-align: top;
  /* border: 1px solid red; */
  font-size: 1.5rem;
  justify-content: center;
  padding: 25px 20px 20px 55px;
  line-height: 25px;
  margin-top: 22px;
}

@media (max-width: 550px) {
  .middle .text-content {
    width: 100%;
  }
}

.middle .img-content {
  width: 48%;
}

@media (max-width: 550px) {
  .middle .img-content {
    width: 100%;
    height: 16rem;
  }
}

.mid-image {
  order: 0;
}

@media (max-width: 550px) {
  .mid-image {
    order: 1;
  }
}

.pctwo {
  height: 100%;
  width: 100%;
  margin-left: 30px;
  border-left: 2px solid black;
}
@media (max-width: 550px) {
  .pctwo {
    margin-left: 0;
  }
}

.titles {
  font-size: 2.5rem;
  margin: 8px 0;
  text-align: center;
}

.pcthree {
  height: 100%;
  width: 100%;
  border-right: 2px solid black;
}

.button-two {
  cursor: pointer;
  background: #bb1333;
  color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
@media (max-width: 550px) {
  .button-two {
    margin-left: 104px;
    margin-top: 12px;
    padding: ;
  }
}

.button-two:hover {
  background-color: #ffe6e6;
  opacity: 50%;
  color: black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.button-three {
  cursor: pointer;
  background: #ffe6e6;
  color: black;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 550px) {
  .button-three {
    margin-left: 104px;
    margin-top: 12px;
    padding: ;
  }
}

.button-three:hover {
  background-color: #bb1333;
  opacity: 50%;
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.features {
  color: #002070;
  margin-bottom: 15px;
}

.features:hover {
  color: #bb1333;
  opacity: 50%;
  color: red;
}

.productivity:hover {
  color: #bb1333;
  opacity: 50%;
  color: #002070;
}

.productivity {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  width: 100%;
  border-top: 2px solid black;
  background-color: #bb1333;
  justify-content: center;
}

.copyright {
  text-align: center;
  font-size: 1rem;
  padding: 20px;
}

.tabs-item {
  display: none;
}

.tabs-item-selected {
  display: flex;
}

.center-img {
  position: relative;
  background-image: url('/img/deskpc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.team {
  display: flex;
  justify-content: center;
  background-color: #bb1333;
  height: 100%;
  /* width: 80%; */
}

@media (max-width: 550px) {
  .team {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

/* .text-content img {
  width: 100%;
  height: auto;
} */

.team-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 18px;
  max-width: 1100px;
}

@media (max-width: 550px) {
  .team-content {
    flex-direction: column;
    width: 86%;
    margin: 0;
  }
}

.team .text-content {
  display: flex;
  flex-direction: column;
  width: 29%;
  vertical-align: top;
  margin: 15px 15px 15px 30px;
  border: 1px solid black;
  height: 40%;
  background-color: white;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 3px;
}

@media (max-width: 550px) {
  .team .text-content {
    flex-direction: column;
    width: 100%;
  }
}

.team-title {
  color: white;
  font-size: 5rem;
  letter-spacing: 13px;
  padding-top: 60px;
  text-align: center;
  background: #bb1333;
}
@media (max-width: 550px) {
  .team-title {
    font-size: 2.2rem;
    letter-spacing: 5px;
  }
}

.names {
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}

.names:hover {
  color: #bb1333;
  opacity: 50%;
  color: red;
}

.angel {
  height: 195px;
  margin-top: 16px;
}

.conner {
  margin-top: 18px;
}

.ethanpic {
  height: 290px;
  margin-top: 18px;
}

.team-title {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    color: #002070;
  }
  100% {
    color: white;
  }
}

/* #ethan-card {
  height: 600px;
  border: 6px solid blue;
} */

.product-queue {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    color: #002070;
  }
  100% {
    color: white;
  }
}

.coverTitle {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    color: #ff4136;
  }
  100% {
    color: #002070;
  }
}

.intro-text {
  animation: pulse 8s infinite;
}

@keyframes pulse {
  0% {
    color: #ff4136;
  }
  100% {
    color: #002070;
  }
}
